<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="StudentsConnectionString1" connectionString="Data Source=DESKTOP-JJA0LFF\SQLEXPRESS;Initial Catalog=Students;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>